* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(32, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;

}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 999;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navication {
    display: flex;
}

#menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    display: none;
}

nav .navication ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navication ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navication ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s ease;
}

nav .navication ul li a.active,
nav .navication ul li a:hover {
    color: #FDC938;

}

/* home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.9)), url(img/back.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {
    color: #fff;
    background: rgb(21, 21, 100);
    transition: 0.4s ease;
}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

#home a.yellow {
    color: #fff;
    background: #FDC938;
    transition: 0.4s ease;
}

#home a.yellow:hover {
    color: #FDC938;
    background: #fff;
}

/* features */

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background: #dedee6;
    text-align: start;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .fea-box h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(46, 44, 59);
    padding: 13px 0 7px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}

#course {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;


}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    margin-top: 50px;
}

#course .courses {
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
    cursor: pointer;
}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 15px 0 15px;
}

#course .courses .details i {
    color: #FDC938;
    font-size: 0.9rem;

}

#course .courses .cost {
    background-color: rgb(74, 74, 136);
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;

}

/* #registration */

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/signup.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .form .btn {
    margin-top: 20px;
}

#registration .reminder {
    color: #fff;

}

#registration .reminder h1 {
    color: #fff;

}

#registration .reminder .time {
    display: flex;
    margin-top: 40px;

}

#registration .reminder .time .date {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    font-size: 1.1rem;
    font-weight: 600;

}

#registration .form {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);

}

#registration .form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registration a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    background: #FDC938;
    transition: 0.4s ease;
}

#registration a.yellow:hover {

    color: #FDC938;
    background: #fff;
}

#experts {
    padding: 8vw 8vw 2vw 8vw;
    text-align: center;

}

#experts .expert-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 50px;

}

#experts .expert-box .profile {
    background: #eeeee4;

}

.pro-links {
    margin-top: 10px;

}

.pro-links i {
    font-size: 30px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid rgb(21, 21, 100);
    transition: 0.4s ease;
    cursor: pointer
}

.pro-links i:hover {
    background-color: rgb(21, 21, 100);
    border: 1px solid rgb(21, 21, 100);
    color: #fff;
    cursor: pointer;


}

footer {
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

footer .footer-col {
    padding-bottom: 40px;

}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;

}

footer .subscribe {
    margin-top: 20px;

}

footer input {
    width: 220px;
    padding: 15px 12px;
    background-color: #334f6c;
    border: none;
    outline: none;
    color: #fff;

}

footer .subscribe a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    /* border-radius: 5px; */
    color: #fff;
    background: #FDC938;
    transition: 0.4s ease;
}

footer .subscribe a.yellow:hover {

    color: #FDC938;
    background: #fff;
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .subscribe .ppp {
    color: #fff;
}

footer .copyright .pro-links {
    margin-top: 0px;

}

footer .copyright .pro-links i {
    background-color: #5f7185;
    color: #fff;


}

footer .copyright .pro-links i:hover {
    background-color: #FDC938;
    color: #fff;



}

#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.9)), url(img/back1.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home {
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 1px;
}


#about-c {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

#about-c .about-img {
    width: 60%;
    padding-right: 60px;
}

#about-c .about-img img {
    width: 100%;
}

#about-c .about-text {
    width: 40%;
}

#about-c .about-text h2 {
    color: #29302b;
    padding-bottom: 15px;
}

#about-c .about-text p {
    color: #686f7a;
    font-weight: 300;
}

#about-c .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;

}

#about-c .about-text .about-fe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;

}

#about-c .about-text .about-fe .fe-text {
    width: 90%;
}

#about-c .about-text .about-fe .fe-text h5 {

    font-size: 16px;
    color: #29303b;
}

#trust {
    text-align: center;
    padding: 8vw;
}

#trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trust .trust-img img {
    width: 90px;
    height: auto;
}

/* blog */


.blog-c {
    padding: 8vw 8vw 2vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.blog-c .blogs {
    width: 60%;
}

.blog-c .blogs img {
    width: 100%;
    border-radius: 19px;

}

.blog-c .blogs h3 {
    color: #29302b;
    padding: 10px 0 15px 0;

}

.blog-c .blogs p {
    color: #313a42;
    padding-bottom: 20px;
    font-weight: 500;
}

.blog-c .blogs a {
    color: #fff;
    padding: 10px 15px;
    background-color: #334f6c;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.blog-c .blogs .post {
    padding-bottom: 60px;
}

.blog-c .cate {
    width: 30%;

}

.blog-c .cate h2 {
    padding-bottom: 15px;

}

.blog-c .cate a {
    color: #757373;
    text-decoration: none;
    line-height: 45px;
    padding-bottom: 10px;

}


/* .blog */
.blog-c .blogpost{
    width: 60%;
    margin: 0 auto;
}
.blog-c .blogpost p{
    text-align: justify;
    padding-bottom: 60px;
}


/* course iner   */

#course-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}
#course-inner .overview{
    width: 70%;

}
#course-inner .overview .course-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    
}
#course-inner .overview .course-head{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#course-inner .overview .course-head .c-name{
    width: 70%;

}



#course-inner .overview .course-head .c-name H2{
    color: #29302b;

}


#course-inner .overview .course-head .c-name .star{
     margin: 6px 0;

}
#course-inner .overview .course-head .c-name .star i{
     color: #FDC938;
     font-size: 0.9rem;

}
#course-inner .overview .course-head .c-name p{
     font-size: 15px;

}
#course-inner .overview .course-head span{
    padding: 16px 22px;
    color: #5838fc;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(88, 56, 252, 0.1);
    border-radius: 10px;
}


#course-inner .overview .learn p{
    font-size: 15px;
    padding-bottom: 15px;
    
}
#course-inner .overview .learn i{
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}
#course-inner .overview .tutor{
    display: flex;
    
}
#course-inner .overview .tutor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px
}
#course-inner .overview .tutor h5{
    font-size: 15px;
}
#course-inner .overview .tutor p{
    color: #494343;
}



#course-inner h3{
    padding: 35px 0 25px 0;
    color: #29303b;
}



#course-inner hr{
    height: 1px;  
    background-color: rgba(236, 226, 229, 0.5);
    margin-top: 40px;
}


#course-inner .enroll{
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 5px 30px 0px rgb(32, 26, 63);
    
}

#course-inner .enroll h3{

    padding-bottom: 10px;
}
#course-inner .enroll p{
    font-size: 15px;
    color: #64626c;
    margin: 15px 0;
}
#course-inner .enroll i{
    color: #654ce4;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    
}
#course-inner .enroll .enroll-btn{
    padding: 25px 0 20px 0;
    margin: auto;
    text-align: center;
    
}
#course-inner .enroll .enroll-btn a{
    text-decoration: none;
    font-size: 0.8rem;
    padding: 13px 45px;
    border-radius: 5px;
    color: #fff;
    background: rgb(16, 26, 58);

} 

#contact{
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#contact .gatin{
    width: 350px;
}
#contact .gatin h2{
    color: #333634;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}
#contact .gatin p{
    color: #5d635f;
    
    /* line-height: .24; */
    margin-bottom: 33px;
    padding-bottom: 25px;
}

#contact .gatin h3{
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .gatin .gatin-detail div{
    display: flex;
    
}
#contact .gatin .gatin-detail div .get{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
    
}
#contact .gatin .gatin-detail div p{
    font-size: 14px;
    border: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .gatin .gatin-detail .pro-links i{
    margin-right: 10px;

}

#contact .form{
    width: 60%;
    background: #dbd9df;
    padding: 40px;
    border-radius: 10px;
}
#contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}



#contact .form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}


#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

#contact .form .form-col input,
#contact .form .form-col textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}
#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}


#contact .form  button{
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}


#map{
    width: 100%;
    height: 70vh;
    margin-bottom: 6vw;
    
}
#map iframe{
    width: 100%;
    height: 100%;

}


@media (max-width: 779px) {
    nav {
        padding: 15px 20px;
    }

    nav img {
        width: 130px;
    }

    #menu-btn {

        display: initial;
    }
    
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 20px 0 20px 20px;
    }
    
    nav .navication ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background: rgba(3, 3, 51, 0.45);
        backdrop-filter: blur(8.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.4s ease;
    }
    
    nav .navication ul.active {
        right: 0;
    }
    
    nav .navication ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    
    nav .navication ul li a {
        color: #fff;
    }

    #home {
        padding-top: 0px;
    }
    
    #home p {
        width: 90%;
    }
    
    #features {
        padding: 8vw 4vw 0 4vw;
    }
    
    #course {
        padding: 8vw 4vw 0 4vw;
    }
    
    #registration {
        margin-top: 8vw;
        padding: 6vw 4vw 6vw 4vw;
        
    }
    
    #registration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        
        
    }
    
    #experts {
        padding: 8vw 8vw 4vw 8vw;
        text-align: center;
    }
    
    footer .copyright .pro-links {
        margin-top: 15px;
    }
}

#about-c {
    padding: 8vw 4vw 2vw 4vw;
}

#about-c .about-img {
    padding-right: 30px;
}

#trust .trust-img img {
    width: 50px;
    height: auto;
}

/* blog  */

.blog-c {
    padding: 8vw 4vw;
}

.blog-c .blogpost{
    width: 100%;
    margin-top: 40px;
}

.blog-c .blogpost img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


/* inner 

 */


 #course-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw 4vw;

 }

 #course-inner .overview{
    width: 100%;

 }

 #course-inner .overview .course-img {
    width: 100%;
    height: 100%;
   
}
#course-inner .enroll{
    margin-top: 25px;
    margin-right: 22rem;
}


#contact {
    padding: 8vw 4vw;
   
}

#contct .gatin{
    width: 250px;
}

@media (max-width: 440px) {
    
    #registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #registration .time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

    }

    footer input {
        width: 185px;
        padding: 15px 12px;
        background-color: #334f6c;
        border: none;
        outline: none;
        color: #fff;
    }

    #about-c {
        flex-direction: column-reverse;
    }

    #about-c .about-img {
        width: 100%;
        padding: 0;
    }

    #about-c .about-text {
        width: 100%;
    }

    #trust .trust-img {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #trust .trust-img img {
        width: 60px;
        margin: 10px 15px;
        height: auto;
    }

    /* blog  */

    .blog-c {
        flex-direction: column;

    }

    .blog-c .blogs {
        width: 100%;
    }

    .blog-c .cate {
        width: 100%;

    }

    .blog-c .blogpost{
        width: 100%;
        margin-top: 40px;
    }
    
    .blog-c .blogpost img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    #course-inner .overview .course-head .c-name{
        width: 55%;
    }
    #course-inner .overview .course-head .c-name h2{
        font-size: 22px;
            width: 200px;
            padding-bottom: 39px;
            font-size: 22px;
        
    }
    #course-inner .overview .course-head span{
        font-size: 22px;
        margin-bottom: 15rem;
    }


    #course-inner .enroll{
        margin-top: 25px;
        margin-right: 0rem;
    }
    

    #contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #contact .gatin {
        width: 100%;
        margin-bottom: 30px;
       
    }
    #contact .form {
        width: 100%;
        margin-bottom: 30px;
       
    }
    #contact .form .form-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    #contact .form .form-row input{
        width: 100%;
        

    }

}